{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-nested-pattern": "^&",
    "indentation": 4,
    "no-descending-specificity": null,
    "no-eol-whitespace": null,
    "declaration-empty-line-before": null
  }
}